{% extends 'base.html' %}

{% block content %}
<h1>Mise à jour de l'association dont l'id est {{associationVehiculeConducteur.id_association}}:</h1>

<form action="{{ base_path ~ '/associationVehiculeConducteur/' ~ associationVehiculeConducteur.id_association ~ '/edit'}}" method="post"
    enctype="multipart/form-data">
    <div class="form-group">
        <label for="marque">Marque du véhicule</label>
        <input type="text" class="form-control" name="marque" id="marqueUpdate" aria-describedby="helpId"
            value="{{associationVehiculeConducteur.marque}}" required>

        <label for="modele">Modèle du véhicule</label>
        <input type="text" class="form-control" name="modele" id="modeleUpdate" aria-describedby="helpId"
            value="{{vehicule.modele}}" required>

        <label for="couleur">Couleur du véhicule</label>
        <input type="text" class="form-control" name="couleur" id="couleurUpdate" aria-describedby="helpId"
            value="{{vehicule.couleur}}" required>

        <label for="immatriculation">Immatriculation du véhicule</label>
        <input type="text" class="form-control" name="immatriculation" id="immatriculationUpdate" aria-describedby="helpId"
            value="{{vehicule.immatriculation}}" required>

        <input type="submit" value="Mettre à jour">

    
    </div>
</form>
</div>

</div>

<a href="{{ base_path ~ '/' }}"><input name="" id="" class="btn btn-primary" type="button" value="retour à l'accueil">
</a>

{% endblock %}